.zen-kaku-gothic-antique-regular {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  color: #333;
  align-items: center;
  text-align: center;
}
#navigation {
  background-color: #ffffff;
  color: #00c4cc;
  border: none;
  padding: 12px 12px;
  border-radius: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

#container {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 20px;
}
#button {
  color: #cc0070;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #ffffff;
  border: 2px solid #cc0070;
  border-radius: 8px;
  transition: all 0.2s ease;
}

#button:hover {
  background-color: #cc0070;
  color: #ffffff;
}


#add{
    background-color: white;
    padding-left: 50%;
}
nav {
  background: #ffffff;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  gap: 32px;
  border-bottom: 4px solid #00c4cc;
  border-radius: 0 0 12px 12px;
  margin-bottom: 50px;
}

.navigation {
  color: #00c4cc;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #e0ffff;
  border: 2px solid #00c4cc;
  border-radius: 8px;
  transition: all 0.2s ease;
}

.navigation:hover {
  background-color: #00c4cc;
  color: #ffffff;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  margin: 32px auto;
  border-radius: 12px;
  overflow: hidden;
}

td,th {
  font-weight: 600;
  padding: 12px;
}
img {
  max-height: 80px;
  max-width: 80px;
}

form#fill {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin:0 10%;
}
input[type="date"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  transition: border-color 0.2s ease;
}

input[type="date"]:focus {
  border-color: #cc0070;
  outline:#cc0070;
}

label {
  font-weight: bold;
  color: #000000;
}
